.widget.woocommerce ul {
	list-style: none outside none;
    padding-left: 0;
}

.widget.woocommerce  ul li a {
	padding: 5px 0;
	display:block;
} 
.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove {
	padding: 0;
	position: relative;
	float: left;
	margin: 5px 10px 0 5px;
}
.woocommerce ul.products li.product h2 {
    font-size: 1em;
	margin: 0;
    padding: 0.5em 0;
}
.widget.woocommerce  ul.children li a {
	padding-left:15px;
}

.widget.woocommerce  ul.product-categories li a {
	border-bottom:1px solid #EDEAE6;
}	

#shop-sidebar aside {
	padding:0 0 10px 0;
}

.widget.woocommerce.widget_product_search #searchform label,
.widget.woocommerce.widget_product_search #searchform #searchsubmit {
	display:none;
}

.widget.woocommerce.widget_product_search #searchform input[type="text"] {
	margin:0;
}

.widget.woocommerce.widget_recent_reviews .reviewer {
	font-size:12px;
}

.widget.woocommerce.widget_recent_reviews ul li,
.widget.woocommerce.widget_products ul li,
.widget.woocommerce.widget_top_rated_products ul li ,
.widget.woocommerce.widget_shopping_cart ul li
{
	padding:5px 0;
	border-bottom:1px solid #EDEAE6;
}

.widget.woocommerce.widget_recent_reviews ul li:last-child,
.widget.woocommerce.widget_products ul li:last-child,
.widget.woocommerce.widget_top_rated_products ul li:last-child {
	border:0;
}


.woocommerce ul.products li.woo-column-4 {
	width: 22.05% !important; 	
}

.woocommerce .summary .product_meta {
	margin:0 0 20px 0;
}

.woocommerce .summary .product_meta {
	margin:0 0 20px 0;
}

.woocommerce ul.products.owl-carousel.owl-theme li {
	height: 100% !important;
    margin: 0;
    padding: 0;
    width: 100% !important;
	display: block;
}	


.woocommerce ul.products li.product a:first-child, .woocommerce-page ul.products li.product a:first-child {
	display: inline-block;
    float: left;
    text-decoration: none;
    width: 100%;
}

.woocommerce ul.products.owl-carousel.owl-theme li .onsale {
	margin: 0px 2px 0 0;
}

.woocommerce ul.products li.woo-column-3 {
	width: 30.8% !important; 	
}

.woocommerce ul.products li.woo-column-2 {
	width:48.1% !important;
}	

.woocommerce-result-count {
	color:#333333;
	opacity:1 !important; 
}

.woocommerce .widget_shopping_cart .total, 
.woocommerce-page .widget_shopping_cart .total, 
.woocommerce-page.widget_shopping_cart .total, 
.woocommerce.widget_shopping_cart .total {
	border:0;
	margin:0 0 20px 0;
}

.widget.woocommerce p, 
.woocommerce-page #commentform   p,
.woocommerce-page .shipping-calculator-form  p,
.woocommerce-page .checkout p {
	opacity:1 !important; 
	line-height:20px;
}

.woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table th {
	padding:6px 12px 6px 6px;
	width: 35%;
}

.woocommerce .cart-collaterals .cart_totals table td, .woocommerce-page .cart-collaterals .cart_totals table td {
	padding:6px;
}

.woocommerce #content input.button:active, 
.woocommerce #respond input#submit:active, 
.woocommerce a.button:active, 
.woocommerce button.button:active, 
.woocommerce input.button:active, 
.woocommerce-page #content input.button:active, 
.woocommerce-page #respond input#submit:active, 
.woocommerce-page a.button:active, 
.woocommerce-page button.button:active, 
.woocommerce-page input.button:active {
	bottom: -1px;
}

.wc-forward a:after, .wc-forward:after {
	margin-left: 0; 
	content: ""; 
}

.woocommerce #content input.button:hover, 
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover, 
.woocommerce-page #content input.button:hover, 
.woocommerce-page #respond input#submit:hover, 
.woocommerce-page a.button:hover, 
.woocommerce-page button.button:hover, 
.woocommerce-page input.button:hover {
	text-shadow:initial !important;
	background:none !important;
	-webkit-box-shadow: initial !important;
	-moz-box-shadow: initial !important;
	box-shadow: initial !important;
}

.woocommerce #content div.product form.cart .variations label,
.woocommerce div.product form.cart .variations label, 
.woocommerce-page #content div.product form.cart .variations label, 
.woocommerce-page div.product form.cart .variations label {
	color: #333
}

.woocommerce #content div.product form.cart .variations, 
.woocommerce div.product form.cart .variations, 
.woocommerce-page #content div.product form.cart .variations, 
.woocommerce-page div.product form.cart .variations {
	margin: 0px;
}

.woocommerce #content div.product form.cart .variations, 
.woocommerce div.product form.cart .variations, 
.woocommerce-page #content div.product form.cart .variations, 
.woocommerce-page div.product form.cart .variations {
	margin: 10px 0px 10px 0px;
}

.woocommerce .summary p {
padding-bottom: 20px;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li, 
.woocommerce div.product .woocommerce-tabs ul.tabs li, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
	border: 3px solid #292422 !important;
	margin: 0px;
	box-shadow: 0 0 0;
	border-radius: 0px;
	position: initial;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs:before, 
.woocommerce div.product .woocommerce-tabs ul.tabs:before, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs:before {
	border-bottom: 3px solid #333;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, 
.woocommerce div.product .woocommerce-tabs ul.tabs li.active, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active {
	background: #292422;
	color: #fff;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a, 
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a {
	color: #fff;
}

.woocommerce #content .reviews_tab:hover {
		background: #292422;
	color: #fff;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li, 
.woocommerce div.product .woocommerce-tabs ul.tabs li, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
	background: #fff;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li a, 
.woocommerce div.product .woocommerce-tabs ul.tabs li a, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a {
	color: #292422;
}


.woocommerce #content div.product .woocommerce-tabs ul.tabs, 
.woocommerce div.product .woocommerce-tabs ul.tabs, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs {
	padding: 0px;
}

.woocommerce ul.products li.product .price, 
.woocommerce-page ul.products li.product .price {
	font-size: 1.3em;
}

.woocommerce #content input.button, 
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button, 
.woocommerce-page #content input.button, 
.woocommerce-page #respond input#submit, 
.woocommerce-page a.button, 
.woocommerce-page button.button, 
.woocommerce-page input.button {
	text-shadow:initial !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	border:0 !important;
	background:none !important;
	-webkit-box-shadow: initial !important;
	-moz-box-shadow: initial !important;
	box-shadow: initial !important;
	-webkit-transition: 0.2s !important;
    -moz-transition: 0.2s !important;
	-o-transition: 0.2s !important;
	transition: 0.2s !important;
	border: 3px solid transparent !important;
	display: inline-block !important; 
	padding: 10px 20px !important;
	text-transform: uppercase !important;
	position: relative !important;
	z-index: 1 !important;
	color: #292422 !important;
	border-color: #292422 !important;
}

.woocommerce #content div.product p.price, .woocommerce #content div.product span.price, .woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce-page #content div.product p.price, .woocommerce-page #content div.product span.price, .woocommerce-page div.product p.price, .woocommerce-page div.product span.price {
	font-size: 2.25em;
}

.woocommerce #content input.button:hover, 
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover, 
.woocommerce-page #content input.button:hover, 
.woocommerce-page #respond input#submit:hover, 
.woocommerce-page a.button:hover, 
.woocommerce-page button.button:hover, 
.woocommerce-page input.button:hover {
	color: #fff !important;
	background: #292422 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.woocommerce a.added_to_cart, .woocommerce-page a.added_to_cart {
	padding-left:20px;
}

.woocommerce #content input.button.added:before, .woocommerce #respond input#submit.added:before, .woocommerce a.button.added:before, .woocommerce button.button.added:before, .woocommerce input.button.added:before, .woocommerce-page #content input.button.added:before, .woocommerce-page #respond input#submit.added:before, .woocommerce-page a.button.added:before, .woocommerce-page button.button.added:before, .woocommerce-page input.button.added:before {
	top: 9px;
	right: 0;
	font-size: 12px;
}

.woocommerce a.added_to_cart, .woocommerce-page a.added_to_cart {
    padding-left: 8px;
}

.woocommerce #content div.product form.cart div.quantity, .woocommerce div.product form.cart div.quantity, .woocommerce-page #content div.product form.cart div.quantity, .woocommerce-page div.product form.cart div.quantity {
    margin: 6px 10px 0 0;
}

.panel {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:before, .woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-error:before, .woocommerce-page .woocommerce-info:before, .woocommerce-page .woocommerce-message:before {
	line-height: 0;
}

.woocommerce-shipping-fields label {
	display:inline-block;
}

#coupon_code, .woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions #coupon_code, .woocommerce-page #content table.cart td.actions #coupon_code, .woocommerce-page table.cart td.actions #coupon_code {
	width: auto;
	text-align:center;
	height: 40px;
	min-height: auto;
}

.woocommerce input[type="text"], 
.woocommerce input[type="email"], 
.woocommerce input[type="search"], 
.woocommerce input[type="password"] {
	min-height:0;
}

.shipping_calculator {
	margin:20px 0 0 0;
}

.recently.products h2,
.related.products h2,
.upsells.products h2,
.cross-sells.products h2, 
.anaglyph-get-products h2 {
	margin-top:20px;
}

.woocommerce .alert ul {
	margin:0;
	list-style:none;
	padding:0;
}

.woocommerce .alert ul li:first-child {
	padding:0;
}

.woocommerce .alert ul li {
	padding:10px 0 0 0;
}

.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a, .woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
	margin-bottom: 15px;
}

.woocommerce-ordering .orderby {
	min-width:200px;
}

.woocommerce.single-product .alert {
	width: 100%;
	line-height: 40px;
}	

.woocommerce.single-product .alert a.button.wc-forward {
	float: right;
}


.anaglyph-woo-has-gallery {
    position: relative;
}

.anaglyph-woo-has-gallery .onsale {
    z-index: 9;
}

.anaglyph-woo-has-gallery a .anaglyph-second-image {
	position: absolute;
    top:0;
    left:0;
    -webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all .35s ease;
	-moz-transition: all .30s ease;
	-ms-transition: all .30s ease;
	-o-transition: all .30s ease;
	transition: all .30s ease;
}


.is-animated-true {
	-webkit-opacity: 1 !important;
	-moz-opacity: 1 !important;
	opacity: 1 !important;
	-webkit-transition: all .30s ease !important;
	-moz-transition: all .30s ease !important;
	-ms-transition: all .30s ease !important;
	-o-transition: all .30s ease !important;
	transition: all .30s ease !important;
}	

.is-animated-false {
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all .30s ease;
	-moz-transition: all .30s ease;
	-ms-transition: all .30s ease;
	-o-transition: all .30s ease;
	transition: all .30s ease;
}


.variations_form .variations tbody tr td {
	width:100%;
	clear:both;
	float:left;
	padding:0 0 5px 0 !important;
	text-align:left;
}

.variations_form .variations tbody tr td  .selectize-control .selectize-input {
	min-width:300px;
}

.variations_form table.variations tbody tr td a.reset_variations {
	padding:5px 0;
	display:block;
}

.woocommerce-checkout .form-row .chosen-container-single .chosen-single {
	background:none;
	background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
	box-shadow: none;
	height:auto;
	padding:8px;
	line-height:20px;
}	

.woocommerce-checkout .form-row .chosen-container-single .chosen-single div b {
	background-position: 0 9px !important;
}

.woocommerce label {
	padding-left:0;
}	


.anaglyph-variations {
	padding: 8px 8px;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.03);
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	min-width:300px;
	margin:0 0 8px 0;
}

.anaglyph-variations {
	outline: none !important;
}	

.anaglyph-variations:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #808080 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.woocommerce img, .woocommerce-page img {
	max-width: inherit; 
}

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img {
	width: 32px !important;
}

@media (max-width: 769px) {
	.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a, .woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
		width: auto !important; 	
	}
	
	.woocommerce ul.products li,
	.woocommerce ul.products li.woo-column-4,
	.woocommerce ul.products li.woo-column-3,
	.woocommerce ul.products li.woo-column-2 {
		width: 48% !important; 	
	}
	
	
	.woocommerce img, .woocommerce-page img {
		max-width: 100%; 
	}
}


@media (max-width: 640px) {
	.woocommerce ul.products li.woo-column-4,
	.woocommerce ul.products li.woo-column-3,
	.woocommerce ul.products li.woo-column-2 {
		width: 100% !important; 	
	}
}

@media (max-width: 480px) {
	.woocommerce ul.products li.woo-column-4,
	.woocommerce ul.products li.woo-column-3,
	.woocommerce ul.products li.woo-column-2 {
		width: 100% !important; 	
	}
}	