.frtfl-modal *{
    box-sizing: border-box;
}
.frtfl-modal{
    position: fixed;
    display: flex;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.frtfl-modal__content{
    position: relative;
    max-width: 50%;
    max-height: 50%;
    background-color: #fff;
    padding: 25px 50px;
    overflow: auto;
}

.frtfl-modal .submit{
    text-align: right;
}